


.contact-main-div{
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgb(238, 236, 235);
    margin-top: 100px;
    justify-content: center;
    align-items: center;
   padding-bottom:40px;

}
.form-div{
justify-content: center;
align-items: center;
margin-left: 50px;
}

.google-maps{
   display: flex;
   justify-content: end;
    width: 40%;
    margin-top: 50px;
    margin-left: 350px;
    
}








