

/* 1024 */


/* @media only screen and (max-width: 1024px) {
  .uk-position-center-right, .uk-position-center-left{
 margin-top: -80px; 
}
} */


/* 768 */
/* @media only screen and (max-width: 768px){
  .slideimage1{
    width: 100%; 
    height: ; 
}
} */