.slideshow-main-div{
    margin-top:95px;
 
    margin-top:90px;
 height: 70vh;
   }
   
   .uk-position-relative{
   
   }

   .slideimage1{
      width: 100%; 
      position: relative; 
      /* height: 80vh; */
   background-position: center;
      background-size: cover;
      background-repeat: no-repeat; 
  }
  
  
   .uk-position-center-right, .uk-position-center-left{

  color: black;
  font-size: 30px;
      text-decoration: none;
  }
  .uk-position-center-right, .uk-position-center-left:hover{
    text-decoration: none;
  }
  
  /* @media only screen and (max-width: 768px) {
  
  .slideshow-main-div{
  height: 150vh;
 
   }
   .slideimage1{
   
    height: 10vh;

 }
  } */