.slideshow-main-div{
    margin-top:95px;
 
 

   }
   
   .uk-position-relative{
   
   }

   .slideimage1{
 width: 100%;

    

  }
  
  
   .uk-position-center-right, .uk-position-center-left{

  color: black;
  font-size: 30px;
      text-decoration: none;
  }
  .uk-position-center-right, .uk-position-center-left:hover{
    text-decoration: none;
  }
   /* @media only screen and (max-width: 768px) {
  
.slideimage1{
   
    height: 800px;

 }
  }   */