@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.footer-main-div{
  
    margin-top: 100px;
    background: #f8f8f8;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.footer-head1{
  margin-top: 70px;
font-size: 35px;
text-align: start;
 margin-left: 100px; 
color: #111;
font-family: 'Poppins', sans-serif;
}
.footer-para1{
    font-size: 16px;
  margin-left: 100px;
    line-height: 35px;
  text-align: start;
font-family: 'Poppins', sans-serif;
}




/*  */


.footer-head2{
  margin-top: 70px;
    font-size: 35px;
    text-align: start;
    margin-left: 180px;
    color: #111;
    font-family: 'Poppins', sans-serif;
    }



.footer-links{
  margin-top: 28px;
font-size: 14px;
text-align: start;
 margin-left: 200px; 
}

.footlinks{
    color:#111;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
   
    /* margin-left: 50px; */
  position: relative; 
}
    
.footlinks:hover{
    text-decoration: none;
    color:#111;
} 

 .footlinks::before{
        content: "";
        background-color:rgb(78, 69, 69);
        color: rgb(78, 69, 69);
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -4px;
        transform: scaleX(0);
        transform-origin: right;
      transition: transform 0.5s ease-in-out;
    
    }
    .footlinks:hover::before{
    
      transform: scaleX(1);
        transform-origin: left;
    
    } 
 
/*  */

.footer-head3{
  margin-top: 70px;
    font-size: 35px;
    text-align: start;
    margin-left: 145px;
    color: #111;
    font-family: 'Poppins', sans-serif;
    }

    .footer-contact li{
      list-style: none;
      line-height: 35px;

    }
    .footer-contact{
      font-size: 16px;
      text-align: start;
      margin-left: 145px;
  margin-right: 10px; 
    }


    .copyright-text{
text-align: center;
      margin-top: 10px;
  /* margin-left: 50px; */
color: #111;
font-size: 13px;

    }
    
    .copyright-icons{
      margin-top: 10px;
      text-align: center;
color: #39f;
font-size:28px;
letter-spacing: 20px;

    }
    


/* responsive  */

@media only screen and (max-width: 1280px){
  /* .copyright-icons{
    margin-left: 280px;
    font-size:20px;
    letter-spacing: 20px;
      } */
      
}
      
    @media only screen and (max-width: 1024px){
      .footer-head1{
        font-size: 30px;
        margin-left: 50px; 
      }
      .footer-para1{
        font-size: 14px;
      margin-left: 50px;
        
    
    }
    .footer-head2{
      font-size: 30px;
      margin-left: 140px; 
    }
    .footer-links{
      font-size: 13px;
    margin-left: 160px;
     
  }
  .footer-head3{
    font-size: 30px;
    margin-left: 123px; 
  }
  .footer-contact{
    font-size: 14px;
    margin-left: 123px;
    margin-right: 0px; 
  }
  /* .copyright{
    
  }
  .copyright-text{

font-size: 12px;

  }
  
  .copyright-icons{
margin-left: 170px;
font-size:20px;
letter-spacing: 20px;
  } */
  



    }



    @media only screen and (max-width: 912px){
      .footer-head1{
        font-size: 25px;
        margin-left: 50px; 
      }
      .footer-para1{
        font-size: 14px;
      margin-left: 50px;
        
    
    }
    .footer-head2{
      font-size: 25px;
      margin-left: 120px; 
    }
    .footer-links{
      font-size: 13px;
    margin-left: 140px;
     
  }
  .footer-head3{
    font-size: 25px;
    margin-left: 110px; 
  }
  .footer-contact{
    font-size: 14px;
    margin-left: 110px;
    margin-right: 0px; 
  }

  /* .copyright-text{
 margin-left: 50px;
        font-size: 12px;
        
          }
          
          .copyright-icons{
            margin-top: 20px;
        margin-left: 50px;
        text-align: center;
        font-size:23px;
        letter-spacing: 20px;
          } */
    }





    @media only screen and (max-width: 820px){
      .footer-head1{
        font-size: 30px;
        margin-left: 50px; 
      }
      .footer-para1{
        font-size: 14px;
      margin-left: 50px;
        
    
    }
    .footer-head2{
      font-size: 30px;
      margin-left: 160px; 
    }
    .footer-links{
      font-size: 13px;
    margin-left: 180px;
     
  }
  .footer-head3{
    font-size: 30px;
    margin-left: 50px; 
  }
  .footer-contact{
    font-size: 14px;
    margin-left: 50px;
    margin-right: 0px; 
  }
  
          
          /* .copyright-icons{
        
        margin-left: 75px;
     
        font-size:20px;
        letter-spacing: 20px;
          } */



    }  


    @media only screen and (max-width: 768px){
      .footer-head1{
        font-size: 30px;
        margin-left: 50px; 
      }
      .footer-para1{
        font-size: 14px;
      margin-left: 50px;
        
    
    }
    .footer-head2{
      font-size: 30px;
      margin-left: 160px; 
    }
    .footer-links{
      font-size: 13px;
    margin-left: 180px;
     
  }
  .footer-head3{
    font-size: 30px;
    margin-left: 50px; 
  }
  .footer-contact{
    font-size: 14px;
    margin-left: 50px;
    margin-right: 0px; 
  }

  .copyright-text{

    font-size: 12px;
    
      }
      
      /* .copyright-icons{
    margin-left: 75px;
    font-size:18px;
    letter-spacing: 20px;
      } */

    }    




    @media only screen and (max-width: 540px){
      .footer-head1{
        font-size: 32px;
        margin-left: 30px; 
      }
      .footer-para1{
        font-size: 15px;
      margin-left: 30px;
        margin-right: 30px;
    
    }
    .footer-head2{
      font-size: 32px;
      margin-left: 30px; 
    }
    .footer-links{
      font-size: 14px;
    margin-left:30px;
     
  }
  .footer-head3{
    font-size: 32px;
    margin-left: 30px; 
  }
  .footer-contact{
    font-size: 15px;
    margin-left: 30px;
    margin-right: 0px; 
  }

  /* .copyright-text{
margin-top: 50px;
margin-left: 60px;
    font-size: 16px;
    
      }
      
      .copyright-icons{
        margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    font-size:25px;
    letter-spacing: 20px;
      } */
    }    

   


    @media only screen and (max-width: 425px){
      .footer-head1{
        font-size: 30px;
        margin-left: 30px; 
      }
      .footer-para1{
        font-size: 14px;
      margin-left: 30px;
        margin-right: 30px;
    
    }
    .footer-head2{
      font-size: 30px;
      margin-left: 30px; 
    }
    .footer-links{
      font-size: 13px;
    margin-left:30px;
     
  }
  .footer-head3{
    font-size: 30px;
    margin-left: 30px; 
  }
  .footer-contact{
    font-size: 14px;
    margin-left: 30px;
    margin-right: 0px; 
  }

  /* .copyright-text{
margin-top: 50px;
margin-left: 35px;
    font-size: 14px;
    
      }
      
      .copyright-icons{
        margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    font-size:23px;
    letter-spacing: 20px;
      } */
    }    


     @media only screen and (max-width: 375px){
      /* .copyright-text{
        margin-top: 50px;
        margin-left: 0px;
        text-align: center;
            font-size: 13px;
              }
              
              .copyright-icons{
                margin-top: 10px;
            margin-left: 10px;
            text-align: center;
            font-size:23px;
            letter-spacing: 20px;
              } */
    } 


     @media only screen and (max-width: 320px){
     /* .copyright-text{ 
        margin-top: 50px;
        margin-left: 0px;
        text-align: center;
            font-size: 13px;
              }
              
              .copyright-icons{
                margin-top: 10px;
            margin-left: 10px;
            text-align: center;
            font-size:23px;
            letter-spacing: 20px;
              } */
    }